.footer {
    padding: 2.5rem 0;
    background-color: var(--bg-color);
    text-align: center;
}
.map-container {
    margin-bottom: 1rem;
}

.map-container h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}
#map {
    width: 600px;
    height: 200px;
    margin: 0 auto;
}
.content {
    display: flex;
    flex-direction: column;
}

.footer .social {
    text-align: center;
    padding-bottom: 1.5rem;
    color: var(--text-color);
}
.footer .social a {
    font-size: 1rem;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.3rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
}
.footer .social a:hover {
    background-color: var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 0.7rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: var(--text-color);
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li {
    display: inline-block;
    padding: 0 0.9rem;
}
.footer ul li a:hover {
    opacity: 1;
}
.footer .copyright {
    margin-top: 0.9rem;
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-color)
}