@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
/* Estilos para body y header*/
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
header{
    height: 7vh;
    background-color: whitesmoke;
    padding: 1vh;
}
/* Estilos para la nav bar*/
.logo img {
    max-width: 16vh;
    height: auto;
    margin: 2vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

.nav-images {
    margin-right: 3vh;
}

.nav-images h4 {
    display: flex;
    align-items: center;
    font-size: 18px;
    color:#052C60;
    margin:4vh;
}

h4 img {
    max-height: 5vh; 
}

.nav-images i {
    width: 5vh;
    height: auto;
}

.nav-images a:hover {
    opacity: 0.7; 
}

/* Mi cuenta y Carrito */
.carrito, .cuenta {
    position: relative;
    display: inline-block;
    z-index: 1
}

.carrito-icon, .mi-cuenta{
    cursor: pointer;
    position: relative;
}

.carrito-content, .micuenta-content{
    margin-top:5vh;
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 3vh;
    font-family: 'Poppins';
}
.micuenta-content form{
  justify-content: center;
}
.ingresar h2{
    text-align: center;
    margin-bottom: 1vh;
}
.ingresar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ingresar-button button{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0.5vh 2vh;
    font-family: 'Poppins';
    font-size: 18px;
}

.ingresar-button {
    margin-top: 1vh;
}
.registrarse{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}
.registrarse a{
    margin-top: 1vh;
    display: flex;
    justify-content: center;

}

.cuenta:hover .micuenta-content{
    display: block;
}
.carrito:hover .carrito-content {
    display: block;
}

.carrito-vacio-hover, .carrito-content h6 {
    font-size: 16px;
    text-align: center;
    color: #444242;
    margin: 20px 0;
}
.input {
    display: flex;
    align-items: center;
    padding: 10px;
}

label {
    margin-left: 10px;
}
.novedades button{
padding: 1vh;
background-color: whitesmoke;
color: #031a37;
border: none;
cursor: pointer;
}

/* Estilos para el slider principal */

.container-slider {
    width: 100%;
   position: relative;
   overflow: hidden;
   text-align: center;
    position: relative;

}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slider__section{
    width: 100%;
}

.slider__btn{
    position: absolute;
    top: 50%;
    font-size: large;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.237) ;
    color: whitesmoke;
    padding: 1vh 2vh;
    border-radius: 100%;
}
.slider__img{
   width: 100%;
   height: auto;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 30px;
}

/* Estilos para la Search Box */

.search-box {
    width: 60vh;
    position: relative;
    margin: 0 auto;
    margin-top: -4vh;
    background: #d6d6d6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input[type="text"] {
    width: 40vh;
    height: 4vh;
    padding: 1vh;
    border: 0.2vh solid #052C60;
    border-radius: 0.5vh;
}

.search-box button {
    margin-left: 1vh;
    background-color: whitesmoke;
    border: 0.2vh solid  #052C60;
    border-radius: 0.5vh;
    cursor: pointer;
    height: 4vh;
    width: 4vh;

}

.search-box button img {
    height: 50%;
}

/*Estilos para la sección de información */

.informacion{
    background-color: #d6d6d6;
    margin-top: -4vh;
    padding: 10vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New';
    
}
.informacion h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

h3 img {
    max-height: 5vh; 
}
.informacion p {
    text-align: center;
    margin-top: 2vh;
}

/* Estilos para el slider de categorías */

.slider-container-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40vh;
    background-color: whitesmoke;

}

.slider-button {
    position: absolute;
    top: 50%;
    font-weight: bold;
    transform: translateY(-50%);
    color: #052C60;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: whitesmoke;
    font-size: 70px;
    font-weight: 100;
}

#leftBtn {
    left: 15vh;
}

#rightBtn {
    right: 16vh;
}

.slider2 {
    overflow: hidden;
    width: 70%;
}
.slider-cat {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slider-cat img {
    width: 30vh;
    height: auto;
    margin-right: 5vh;
    margin-left: 0.5vh;
}
.slider-item {
   text-align: center;
   margin-top: 1vh;
   
}
.slider-item img {
    height: auto;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.slider-item:hover img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.slider-item-title {
    margin-top: 1vh;
    font-size: 2vh;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: hsla(225, 76%, 20%, 0.753);
    margin-right: 5vh;
}

/* Estilos de las ofertas*/
.elemento h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top:2vh ;
}
.elemento h6 {
    padding: 2vh;
}

.ofertas{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding-top: 2vh;
    padding-bottom: 2vh;

}
.elemento:hover{
    box-shadow: 0 1vh 2vh rgba(12,32,91,1), 0 1vh 2vh rgba(12,32,91,1);
    transform: translate(0px,-8px);
}
.elemento{
    width: 16%;
    margin: 2vh;
    float: left;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5vh;
    cursor: pointer;
    padding-top: 1vh;
    box-shadow: 0 1vh 2vh rgba(12,32,91,1), 0 3vh 5vh rgba(12,32,91,1);
    transition: .2s;
    background-color: whitesmoke;
}
.elemento img{
width: 18vh;
height: 18vh;
margin: 0 auto;
text-align: center;
display: block;
}
.elemento p{
    text-align: center;
    color: #052C60;
    padding-top: 0 1vh;
}
.elemento h6{
    font-size: 26px;
    text-align: center;
    color: #052C60;
    margin: 0;
}
.elemento button{
    text-align: center;
    font-size: 24px;
    color:#031a37;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-left-radius:3vh;
    border-bottom-right-radius:3vh ;
}
.add-to-cart{
    background: rgba(33,85,152,1);
}
.add-to-cart:hover {
    color: rgb(157, 185, 226);
  }
.promos h3 , .prox-compra h3, .ofertas-especiales h3, .marcas-destacadas h3{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        padding: 4vh ;
        color: white;
        background: linear-gradient(90deg, rgba(166,189,223,1) 0%, rgba(120,152,198,1) 28%, rgba(80,110,152,1) 49%, rgba(33,85,152,1) 72%, rgba(29,73,130,1) 94%);
}

/* Estilos para promos*/
.banner-container {
    display: flex;
    justify-content: space-between;
}
.banner {
    margin: 2vh;
    display: flex;
    align-items: center;
    height: 30vh;
    overflow: hidden;
    background: #052C60;
    border-radius: 3vh;
    transition: transform 0.2s, opacity 0.2s;
}
.banner:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
.banner img {
    max-width: 50%;
}
.banner-content {
    text-align: left;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.banner-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.banner-content p {
    font-size: 15px;
    margin-bottom: 20px;
}
.banner-content a {
    display: inline-block;
    padding: 1vh 2vh;
    color: rgba(166,189,223,1);
    text-decoration: none;
    border: solid;
    font-weight: bold;
}
.banner-content a:hover{
    color: white;
}

/* Estilos para el marcas destacadas*/
.slider-marcas {
    background-color: whitesmoke;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  .marcas {
    display: inline-block;
    transition: transform 0.90s ease;
    font-size: 0;
  }
  .lista-marcas {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 10vh;
    max-width: 30vh;
  }
  .lista-marcas img {
    max-width: 100%;
    height: auto;
    width: 100%;
    padding: 1vh 0 0 4vh;
  }
  .slider-marcas:hover .marcas {
    transform: translateX(-100%);
  }

/* Estilos para el boton fijo de contacto*/
.btn-wsp {
    position: fixed;
    width: 7vh;
    height:7vh;
    line-height: 7vh;
    bottom:3vh;
    right: 3vh;
    color: white;
    background-color: #3366a9;
    border-radius: 5vh;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 0vh 0.1vh 1vh rgba(12,32,91,1);
    z-index: 100;
}
.btn-wsp:hover{
    transform: scale(1.3);
}

/* Estilos para el footer*/
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 3vh 30vh;
    font-family:'Trebuchet MS', sans-serif;
    background-color: rgba(166,189,223,1);
}
.footer-container h6{
    font-weight: 700;
    font-size: 23px;
    color: #052C60;
}
.footer-container p{
    margin: 2vh 0;
    font-size: 17px;
    color: #444242;
}
.redes i{
    font-size: 35px;
    margin-right: 1vh;
}
.redes i:hover{
    transform: scale(1.1);
    color: #052C60 !important;
}
.novedades{
display: flex;
justify-content: center;
align-items: center;
padding: 3vh;
background-color: rgba(33,85,152,1);
color: white;
font-size: 20px;
}
.novedades h4{
margin-right: 3vh;
}
.novedades input{
    padding: 1vh;
    width: 50vh;
}